<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <h1>Prueba de Simulación</h1>

  </header>
  <nav>
    <a [routerLink]="['/pages/home']">Inicio</a>
    <a [routerLink]="['/pages/cursos']">Cursos</a>
    <a [routerLink]="['/pages/agregar-curso']">Agregar Curso</a>
    <a [routerLink]="['/pages/contacto']">Contacto</a>
  </nav>

  <router-outlet/>
  
</body>
</html>