.contenedor { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.formulario {
    width: 50%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form fieldset {
    border: none;   
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
width: calc(100% - 10px); 
padding: 5px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
resize: none;
}

