.contenedor-cursos{
    display: flex;
    flex-direction: column;
    gap: 20px; 
    align-items: center; 
  }
  
.curso {
    width: 50%; 
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  