<h2>Lista de Cursos</h2>

<div class="contenedor-cursos">
    <div *ngFor="let curso of cursos" class="curso">
        <h3>{{ curso.nombreCurso }}</h3>
        <img src="{{curso.fotoCurso}}" alt="{{ curso.nombreCurso }}" class="imagen-curso">
        <div class="instructor">
            <p><strong>Instructor:</strong> {{ curso.nombreInstructor }}</p>
        </div>
        <button (click)="mostrarDetalles(curso)">Ver más</button>
        <button (click)="eliminarCurso(curso.id)">Eliminar</button>
        <div *ngIf="curso.mostrarDetalles" class="detalles-curso">
            <p><strong>Fecha de inicio:</strong> {{ curso.fechaInicio }}</p>
            <p><strong>Duración:</strong> {{ curso.duracion }} semanas</p>
            <p><strong>Descripción:</strong> {{ curso.descripcion }}</p>
        </div>  
    </div>
</div>

